{% load mptt_tags %}
<html>
<head>
<link rel="stylesheet" href="/media/css/store.css" type="text/css" />
<title>{% block title %}UNDEFINED PAGE TITLE{% endblock %}</title>
</head>
<body>
{% block breadcrumbs %}
{% if breadcrumbs %}
{% for row in breadcrumbs %}
	{% for entry in row %}
		{% if not forloop.first %} > {% endif %}
		<a href="{{ entry.url }}">{{ entry.text }}</a>
	{% endfor %}
{% endfor %}
{% else %}<a href="/">Home</a>{% endif %}{% endblock %}
<form action="/search" method="GET">{{ search }}<input type="submit" value="Go" /></form>
{% block content %} {% endblock %}
</body>
</html>
{{ debug }}