{% load mptt_tags %}
<html>
<head>
<link rel="stylesheet" href="/media/css/store.css" type="text/css" />
<title>{% block title %}UNDEFINED PAGE TITLE{% endblock %}</title>
</head>
<body>
{% block breadcrumbs %}
{% if breadcrumbs %}
{% for row in breadcrumbs %}
	{% for entry in row %}
		{% if not forloop.first %} > {% endif %}
		<a href="{{ entry.url }}">{{ entry.text }}</a>
	{% endfor %}<br/>
{% endfor %}
{% else %}<a href="/">Home</a>{% endif %}{% endblock %}
<a href="{% url 'show_cart' %}">View Cart</a>
<form action="{% url 'search' %}" method="GET">{{ search }}<input type="submit" value="Go" /></form>
{% block content %} {% endblock %}
</body>
</html>
{% if debug %}
<table>
{% for row in debug %}
<tr><td>{{ row.time }}</td><td>{{ row.sql }}</td></tr>
{% endfor %}
</table>
{% endif %}