{% extends "base.html" %}
{% load mptt_tags %}

{% block title %}Welcome to $STORE!{% endblock %}
{% block content %}

<ul class="root">
    {% recursetree tree %}
        <li>
            <a href="/filter/fandom={{ node.lft }}-{{ node.rght }}">{{ node.name }} ({{ node.sub_images }})</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% if items %}
<ul>
{% for item in items %}
  <li>{{ item.name }} ({{ item.pixel_width }}x{{ item.pixel_height }}) {{ item.fandoms.all }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}